.app-header {
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
}

.login-button {
    float: right;
} 
.header-icon{
    color: whitesmoke;
    padding: 5px;
}
.login-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    right:auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    
}